@page
@model CineMania.Pages.About

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<br><br>
<div class="font-weight-bold">

    CineMania quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
    This line of text is meant to be treated as fine print.
    The following is rendered as bold text.
    The following is rendered as italicized text.
    An abbreviation of the word attribute is attr.
    Emphasis classes
    Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
    Nullam id dolor id nibh ultricies vehicula ut id elit.
    Pellentesque ornare sem lacinia quam venenatis vestibulum.
    Etiam porta sem malesuada magna mollis euismod.
    Donec ullamcorper nulla non metus auctor fringilla.
    Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
    Maecenas sed diam eget risus vari.
</div>
</body>
</html>