@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br><br><br>
<div class="text-center" >
    <h1 class="display-4">Welcome to CineMania</h1>
    <p style="font-size: 17px;"> <a asp-page="Movies/Index">More Films here</a>.</p>
</div>